body{
  margin-left:4em;
}
h1{
  font-weight: lighter;
  margin: 0;
}
.App{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
  margin: 20px 0;
  max-width: 540px;
  padding: 20px 16px 24px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0 0 0;

}
.list input{background: none;
	color: rgb(0, 119, 255);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.item {
  margin: 0 2em 0 0;
  min-width: 0;
  
}
ul {
  list-style: none;
  padding-inline-start: 0px;
}
ul li a{
  text-decoration: none;
  color:rgb(0, 119, 255);
  white-space: nowrap;
}
p a{
  text-decoration: none;
  color:rgb(0, 119, 255);
  white-space: nowrap;
}
.initial {
  flex: initial;
}
.none {
  flex: none;
}
.search-box{
  border-radius:2px;
  font-size: 16px;
  padding: 0.9em 8em 0.9em 0.4em;
  border-width: 0px;
  box-shadow: 1px 1px 7px lightgrey;
}
.submit-button {
  border-radius:2px;
  font-size: 16px;
  padding: 0.9em 1.2em 0.9em 1.2em;
  background-color: rgb(0, 119, 255);
  color:white;
  border-width: 0px;
}
.current-button {
  border-radius:2px;
  font-size: 16px;
  padding: 0.9em 1.2em 0.9em 1.2em;
  margin:0 0.5em 0 0.5em;
  background-color: rgb(30, 185, 30);
  color:white;
  border-width: 0px;
}
.submit-button:hover{
background-color:rgb(2, 97, 204);
cursor: pointer;
}
.current-button:hover{
  background-color:rgb(25, 148, 25);
  cursor: pointer;
  }
.main-degree{
  margin: 0 16em 0 0.5em;
}
.other-days{
  margin:0 2em 0 2em;

}
.other-days .day, .degree{
  
  text-align: center;
}
.other-days img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.auto{
  flex: auto;
}